<h1><%= @book.title %> [<%= @book.pages.size %> pages]</h1>

<ul class="pages" id="pages">
<% for page in @book.pages -%>
  <li class="page <%= page.progress %>" id="<%= dom_id(page) %>"><%= link_to page.name, page_url(:book_title => @book.title, :page_name => page.name) %></li>
<% end -%>
</ul>
